<!DOCTYPE html>
<html>
<head>
  <title>ScaryWorldBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container"> 	
    <div class="navbar-header">
      <a class="navbar-brand" href="http://localhost:3000/">ScaryWorldBlog</a>
    </div>


    <ul class="nav navbar-nav navbar-right">
      <%if user_signed_in? %>        
          <li class="navbar-brand"><%= current_user.email %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <%else%>
          <li><%= link_to "Login Page", "http://localhost:3000/users/sign_in" %></li>
      <% end %>          
    </ul>
  </div>
</nav>
 
<div class="container">
  <%= yield %>
  
</div>

</body>
</html>
